# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Node (万が一使う場合)
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.vercel
